body{background-color: rgb(214, 214, 214);}
div{background-color: aliceblue;
box-shadow: 20px;}
#p1::first-letter{color: red;
   
    font-size: 100px; 

    
}
#p1{text-decoration-line: underline;
}
#p2{word-spacing: 10px;}
#p3{text-indent: 50px;}
#p4{text-shadow: 3px 3px 5px grey}
.hd:focus{border: 2px solid rgb(35, 39, 255);}
/* .hd:focus{border: 2px solid rgb(35, 39, 255);} */
#d:{background-color: red;}
#d6:focus{background-color: rgb(255, 0, 0);}
#d6:active{background-color: rgb(57, 78, 199);}
#d6{height: 50px; width: 200px;}
{background-color: rgb(255, 0, 0);}
#d5::first-line{text-decoration: underline;}
